<div class="user-details">
  <style>
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 100%;
      height: 100%;
      background-color: #F272;
      color: #FFFF;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
  </style>
  <h2> About </h2>
  <p> {{site.user_description}} </p>
</div>
<div class="user-details">
  <div class="user">

    <div class="tech">
      <h3>Front End</h3>
      <!-- <div class="tooltip"> -->
        
          <i class="devicon-html5-plain-wordmark">
      
            <!-- <span class="tooltiptext">HTML 5</span> -->
          </i>
          
      <!-- </div> -->
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-jquery-plain colored"></i>
    </div>

    <div class="tech">
      <h3>Back End</h3>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
    </div>

    <div class="tech">
      <h3>Other Tools</h3>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-d3js-plain colored"></i>
      <i class="devicon-cucumber-plain-wordmark colored"></i>



    </div>



  </div>

</div>
</div>
</div>