<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title" style="font-family: 'Courier New', Courier, monospace;">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- <a aria-label="My Email" target="_blank" href="jross.nyc111@gmail.com"><i class="icon fa fa-envelope-square" aria-hidden="true"></i></a> -->
        <a aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/in/jamesross221/"><i class="icon fa fa-linkedin-square"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/jross111"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <!-- <a aria-label="My Blog" target="_blank" href="https://medium.com/@jross.nyc111" target="_blank"><i class="icon fa fa-medium" aria-hidden="true"></i></a> -->
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" target="_blank" href="https://documents-host.s3.amazonaws.com/james_ross_nyc_web_developer_resume_online.pdf">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
